@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans&display=swap');

.App {
  text-align: center;
  background-color: #333333;
  margin: 0px;
}

body{
    font-family: 'DM Sans', sans-serif;
}

nav {
  width: 100%;
  height: 2.7em;
  float: none;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  left: 0px;
  background-color: 'white';
}

ul {
    margin: 0px;
    height: 2.7em;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding-top: 0.4em;
    padding-left: 0px;
}

li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.8em;
  width: 1em;
  text-decoration: none;
  color: black;
}

li a {
  display: inline-block;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 0.2;
}

.bigHeader{
    font-family: 'Archivo Black', sans-serif;
    color: #5638D4;
}

.smallHeader{
    font-family: 'Archivo Black', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header input {
    border-width: 1;
    border-color: grey;
    border-style: solid;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 0px 0px 10px grey;
    width: 10em;
    height: 2em;
    padding: 0.5em;
}

.homeContainer{
    width: auto;
    margin: 1.2em;
}

.contentContainer{
    display: flex;
    flex-direction: column;
}

.frontpageBox{
    border-width: 1;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    background-color: lightgray;
    margin: 0.2em;
}

.frontpageBox div{
    padding-left: 1em;
}